@model Altis.ViewModels.PageListForMakale
@using PagedList;
@using PagedList.Mvc;
@foreach (var item in Model.MakalelerPageList)
{
    <div class="blog Makaleler">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 text-center wow fadeInDown">
                            <div class="entry-meta">
                                <span id="publish_date">@item.EklenmeTarihi.ToShortDateString()</span>
                                <span><i class="fa fa-user"></i> <a href="#">@item.Ad.ToLower() @item.Soyad</a></span>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-10 blog-content wow fadeInDown">
                            <div class="recent-work-wrap">
                                <img class="img-responsive img-blog" src="~/Content/images/makale/@item.OneCikanGorsel" width="100%" alt="" />
                                <div class="overlay">
                                    <div class="recent-work-inner">

                                        <a class="preview" href="~/Content/images/makale/@item.OneCikanGorsel" rel="prettyPhoto"><i class="fa fa-eye"></i>Görseli Büyüt</a>
                                    </div>
                                </div>
                            </div>
                            <h2><a href="blog-item.html">@item.MakaleBaslik</a></h2>
                            <h3>@item.MakaleOnyazi</h3>
                            <a class="btn btn-primary readmore" href="/blog/Makale/@item.MakeleID">Devamını Oku <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.blog-item-->
            </div><!--/.col-md-8-->
        </div>
    </div>

}
@Html.PagedListPager(Model.MakalelerPageList, page => Url.Action("Makaleler",new RouteValueDictionary{
    { "Page",page}

    }),PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions {
        UpdateTargetId="ajax-main" 

    }))