
@{
    ViewBag.Title = "Seminer";
    Layout = "~/Views/Shared/_blogLayout.cshtml";
}


@model Altis.Models.SeminerTB

<div class="container ">
    <div class="blog">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 text-center">
                            <div class="entry-meta">
                                <span id="publish_date">@Model.EklenmeTarih.ToShortDateString()</span>
                            
                                <p>@Model.Yer</p>
                                <p>@Model.Zaman.ToShortDateString()</p>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-10 blog-content wow fadeInDown">
                            <!-- <div class="recent-work-wrap">
                              <img class="img-responsive" src="~/Content/images/haberler/@Model.OneCikanGorsel" alt=""
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <a class="preview" href="~/Content/images/haberler/@Model.OneCikanGorsel" rel="prettyPhoto"><i class="fa fa-eye"></i>Görseli Büyüt</a>
                                    </div>
                                </div>
                            </div>>-->
                            <h2><a href="#">@Model.SeminerBaslik</a></h2>
                            <hr />
                            <div id="icerik">
                                @Html.Raw(Model.HTML)
                            </div>
                            <hr />
                        </div>
                    </div>
                </div><!--/.blog-item-->
            </div><!--/.col-md-8-->
        </div>
    </div>
</div>



@section  scripts{
    <script>
        $(document).ready(function () {
            console.log("ready!");
            $("#Seminer").attr("class", "active");
        });

    </script>


}